
*{font-family: 'Noto Sans KR', sans-serif;}
ul, ol, li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}



main, header, section, nav, footer, aside, article, figure {
    display: block;
    overflow: hidden;
}

@media screen and (max-width:1050px) {
    main{
        width:100%;
    }
}

body, input, select, textarea, button {
    border: none;
    font-size: 12px;
    font-family: 'Spoqa Han Sans', sans-serif;
    color: #333;
    font-weight: 300;
    background: transparent;
}