

main {
    min-height: calc(100vh - 185px);
    /* padding-top: 81px; */
}

.index-main .banner {
    background: url(../../../asset/img/banner.png) no-repeat;
    height: 27.3em;
    background-size: cover;
}



.banner-area {
    width: 75.6rem;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
.index-main .banner .banner-area .text-area {
    font-size: 2rem;
    color: #71b1a1;
    padding: 130px 0 0 0;
    line-height: 6.5rem;
    font-weight: 500;
}
@keyframes typing{
    from{ width: 0; }
  }
   
  @keyframes cursor{
    50%{ border-color: transparent; }
  }

#contents > section > div > div.effect-text{
    line-height: 30px;
    width: 60ch;
    overflow: hidden; 
    white-space: nowrap;
    animation: typing 3.5s steps(30);
   
}
#contents > section > div > div.effect-text2{   
    width: 25ch;
    overflow: hidden; 
    position: absolute;
    left:90%;
    top:85%;
    white-space: nowrap;
    animation: typing 3.5s steps(30);
   
}

#contents > section.banner > div > div.effect-text2 > span{
    font-size: 1.5rem;
    color: #666;
    line-height: initial;
}
#contents > section > div > div.effect-text p{
    font-size: 25px;
    color: #666;
    line-height: initial;
}

#contents > section > div > img {
    position: absolute;
    top: 1.3em;
    right: 4rem;
     animation: motion 0.5s linear 0s infinite alternate;
    }
    @keyframes motion {
        0% {margin-top: 0px;}
        100% {margin-top: 10px;}
    }

    .word{
        font-size:4.5rem;
    }

#contents > section.my-skills > div{
    text-align: center;
    padding: 5rem 0rem;
    width: 76.6rem;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}



.my-skills > div > p{
    font-size: 1.2rem;
    padding: 0rem 0rem 5rem 0rem;
}
.my-skills > div >.skill-img{
    padding-left:0px;
}
.my-skills > div >.skill-img li {
    display: inline-block;
    width: 33.3%;
    box-sizing: border-box;
}


.my-skills > div >.skill-img li img {
    width:64px;
}

.index-main .my-project div{
    text-align: center;
}




#my-content > div{
    width: 76.6rem;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}


#my-content > div > h2{
    font-size: 2rem;
    color: #71b1a1;
    padding: 0 0 1rem;
    font-weight: 500;

}

#my-content > div > ul {
    padding:0rem;

}



.tabs li {
   
    padding-bottom: 1.2rem;
    display:inline-block;
    
    
}
.tabs>  li:nth-child(1){
    padding-right:3.2rem;
}



.tabiteam{
    font-size: 1.4rem;
    color:#666;
    border-bottom: 0.2rem solid rgb(139, 139, 139);
   cursor: pointer;
}

.tabiteam:hover{
    border-bottom: 0.2rem solid #71b1a1;
}




  #my-content > div > ul > li.is-active > p{
    border-bottom: 0.2rem solid #1ca381;
  }


  .soloproject-div{
    width: 76.6rem;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
  

#my-content > div > div > div > p:nth-child(2){
    padding:0 0 3.2rem;
}


#my-content > div > div > div > ul{
    font-size: 0rem;
    margin: 3rem 0rem;

}
#my-content > div > div > div > ul > li{
    position: relative;
    width: 33.3%;
    padding: 0 2.5rem 3.1rem 0;
    box-sizing: border-box;
    display: inline-block;
}



#my-content > div > div > div > ul > li > a > div{
    margin: 2.4rem 0 0;
    font-size: 1rem;
}


.sub-div{
    background: #fafafa;
    width:100% !important;
}
.sub-divp{
    padding:0 !important;
    font-size:35px!important;
    color:#d2d2d2;
}
.soloproject > li > a > img{
    border-radius: 0.7rem;
    box-shadow: 1em 1em 0.3rem 0em;
    width: 100%;
}


.more{
    display: inline-block;
    border-radius: 6rem;
    height: 3rem;
    padding: 0 3rem;
    font-size: 1rem;
    line-height: 3rem;
    border: 0.1rem solid hsla(0,0%,59.2%,.24);
    background-color: #fff;
    margin-bottom: 2rem;
}
.more:hover{
    color:#fff;
    background: #71b1a1;
}




