main {
    min-height: calc(100vh - 185px);
    padding-top: 81px;
}

.index-main .banner {
    background: url(../../../asset/img/banner.png) no-repeat;
    height: 400px;
    background-size: cover;
}



.banner-area {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
.index-main .banner .banner-area .text-area {
    font-size: 34px;
    color: #71b1a1;
    padding: 130px 0 0 0;
    line-height: 80px;
    font-weight: 500;
}
@keyframes typing{
    from{ width: 0; }
  }
   
  @keyframes cursor{
    50%{ border-color: transparent; }
  }

#contents > section > div > div.effect-text{
    line-height: 30px;
    width: 60ch;
    overflow: hidden; 
    white-space: nowrap;
    animation: typing 3.5s steps(30);
   
}
#contents > section > div > div.effect-text2{
    line-height: 30px;
    width: 25ch;
    overflow: hidden; 
    position: absolute;
    left:90%;
    top:85%;
    white-space: nowrap;
    animation: typing 3.5s steps(30);
   
}

#contents > section.banner > div > div.effect-text2 > span{
    font-size: 25px;
    color: #666;
    line-height: initial;
}
#contents > section > div > div.effect-text p{
    font-size: 25px;
    color: #666;
    line-height: initial;
}

#contents > section > div > img {
    position: absolute;
     top: 5px; 
     right: 50px;
     animation: motion 0.5s linear 0s infinite alternate;
    }
    @keyframes motion {
        0% {margin-top: 0px;}
        100% {margin-top: 10px;}
    }

    .word{
        font-size:55px;
    }

#contents > section.my-skills > div{
    text-align: center;
    padding: 80px 0px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}



.my-skills > div > p{
    font-size: 16px;
    padding: 0px 0px 65px 0px;
}
.my-skills > div >.skill-img{
    padding-left:0px;
}
.my-skills > div >.skill-img li {
    display: inline-block;
    width: 33.3%;
    padding: 0 15px;
    box-sizing: border-box;
}


.my-skills > div >.skill-img li img {
    width:64px;
}

.index-main .my-project div{
    text-align: center;
}




#my-content > div{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}


#my-content > div > h2{
    font-size: 30px;
    color: #71b1a1;
    padding: 0 0 16px;
    font-weight: 500;

}

#my-content > div > ul {
    padding:0px;

}



.tabs li {
   
    padding-bottom: 10px;
    display:inline-block;
    
    
}
.tabs>  li:nth-child(1){
    padding-right:60px;
}



.tabiteam{
    font-size: 22px;
    color:#666;
    border-bottom: 3px solid rgb(139, 139, 139);
   cursor: pointer;
}

.tabiteam:hover{
    border-bottom: 3px solid #71b1a1;
}




  #my-content > div > ul > li.is-active > p{
    border-bottom: 3px solid #1ca381;
  }


  .soloproject-div{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
  

#my-content > div > div > div > p:nth-child(2){
    padding:0 0 50px;
}


#my-content > div > div > div > ul{
    font-size: 0px;
    margin: 32px 0px;

}
#my-content > div > div > div > ul > li{
    position: relative;
    width: 33.3%;
    padding: 0 35px 31px 0;
    box-sizing: border-box;
    display: inline-block;
}

#my-content > div > div > div > ul > li:nth-child(1) > a > img{
    width:100%
}


#my-content > div > div > div > ul > li:nth-child(1) > div.title{
    margin: 24px 0 0;
    font-size: 16px;
}