header {
    
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20;
    background: #fff;
}   
.navBar_toggleBtn {
    display: none;
  }
header > div {
    width: 1200px;
    margin: 0 auto;
    height: 81px;
    position: relative;
    
}

header h1 {
    float: left;
    line-height: 4rem;
    height: 2rem;
}

header h1 >a{
    display: inline-block;
    
}
.buggerbt{
    display: flex;
    align-items:center;
    font-size: 30px;
    position: absolute;
    right: 32px;
    height: 97px;
}
header button{
    display:none;
}
button{
    cursor: pointer;
}
header .menu {
    float: left;
    justify-content: space-between;
    display: flex;
    margin-left: 1.7rem;
    align-items: center;
}

header .lnb ul {
    font-size: 0rem;
    display: flex;
    
}

header .lnb li {

    
}
header .lnb li :hover{color:#71b1a1}
header .lnb li a {
    display: block;
    line-height: 5rem;
    padding: 0 1.2rem;
    font-size: 1rem
}
.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
  }
  @media (max-width: 999px){
    #root > header > div {
      width: 100%;
      border-bottom: 1px solid #eee;
      height: 80px;
  }
  header button {
    border: none;
    position: absolute;
    top: 15px;
    right: 4px;
    cursor: pointer;
    display: inline-block;
    padding: 12px;
    background: transparent;

}
.navbar__toggleBtn > span {
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 4px;
    background: #71b1a1;
}
.navbar__toggleBtn > span + span {
    margin-top: 4px;
}
  }