h1 {
    font-family: Lato;
    color: black;
    padding: 1em;
  }
  a {
    text-decoration: none;
    color: white;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    color: #fff;
  }
  li {
    margin: 1em;
  }
  .navigationBar {
    background: #fff;
    height: 80px;
  }
  
  .active {
    color: pink;
  }
  .mobileNavButtonLines {
    height: 5px;
    width: 20px;
    background: #000;
    display: block;
  }
  .mobileNavButton {
    display: none;
  }
  .mobileMenuLinks {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .mobileNavButton {
      display: flex;
      width: fit-content;
      margin: 0 0 0 82%;
      height: 23px;
      flex-direction: column;
      justify-content: space-between;
    }
    .menuLinks {
      display: none;
    }
    .mobileMenuLinks {
      display: flex;
      background: #282828;
      flex-direction: column;
      justify-content: center;
      padding: 1em 8%;
    }
    .mobileMenuLinks > li {
      text-align: right;
    }
    .navigationBar {
      display: flex;
      align-items: center;
      justify-content: right;
      align-content: right;
    }
  }