

  /* 헤더 */
  nav {position: fixed; left: 0; top: 0; width: 100%; z-index: 20; background: #fff;}
  nav > .nav-maintop  {width: 1200px; margin: 0 auto; height: 81px; position: relative;}
  nav h1 {float: left; line-height: 81px; height: 81px; margin:0px}
  nav h1 a {display: inline-block;}
  nav h1 img {width: 200px; display: block; margin-top: 19px; margin-left: -18px;}
  
  nav .lnb ul {font-size:0px;}
  nav .lnb li {display: inline-block; }
  nav .lnb li a {display: block; line-height: 81px; padding: 0 20px; font-size: 16px;}
  nav .lnb li a:hover {color:#004abf;}
  nav .lnb li a.on {color:#004abf;}
  nav .menu {float: left; margin-left: 20px;}
  nav .account {float: right;}
  nav .account li a {padding: 0px;}
  nav .account img {width: 28px; border-radius: 50%; margin-right: 8px; margin-top: -4px;}
  nav .account .name {display: inline-block;}
  nav.scroll {border-bottom: 1px solid #eee;}
  nav.fix {border-bottom: 1px solid #eee;}
  nav button {display: none;}
  nav .mobile_member {display: none;}
  nav .dropdown {position: absolute; visibility: hidden; opacity : 0; transition : .2s ease-in-out; transform : translateY (-20px); top: 82px; right: 0px; width: 150px; background: #fff; border: 1px solid #eee; font-size: 14px; border-radius: 0 0 .28571429rem .28571429rem; box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);}
  nav .dropdown.on {visibility : visible; opacity : 1; transform : translateY (0);}
  nav .dropdown > a {display: block; margin: 24px 24px 0px;}
  nav .dropdown > a:last-child {margin-bottom: 24px;}
  
  @media screen and (max-width: 768px) {
    /* -- 공통 컴포넌트 시작 -- */
    
    /* 헤더 */
    nav > .nav-maintop {width: 100%; border-bottom: 1px solid #eee; height: 61px;}
    nav h1 {float: left; line-height: 61px; height: 61px;}
    nav h1 a {display: inline-block;}
    nav h1 img {margin-left: 4px; margin-top: 8px; width: 180px;}
    nav .mobileNavButton {position: absolute; top: 10px; right: 4px; cursor: pointer; display: inline-block; padding:12px; background: transparent;z-index: 9999;}
    nav .mobileNavButton > span {display: block; width: 22px; height: 3px; border-radius: 4px; background: #71b1a1;}
    nav .mobileNavButton > span + span {margin-top: 4px;}
    nav .lnb {height: 0%;}
    nav .lnb.collapse {height: auto; float:none; clear: both; background: #fff;}
    .mobileMenuLinks {display: block;  opacity: 1; padding:15px; margin-top:10%}
    .mobileMenuLinks li{margin-bottom:15px;}
    nav .lnb ul {display: none; opacity: 0; padding:0 0 16px 0; border-bottom: 1px solid #eee;}
    nav .lnb li {display: block; margin-top:10px;}
    nav .lnb li a {line-height: 44px; font-size: 16px;}
    .lnb.collapse + .overlay {position: absolute; width: 100%; height: 100vh; right: 0; background: #333333; opacity: 0.5;}
    nav .menu {margin-left: 0px;}
    nav .menu ul {padding: 12px 0px;}
    nav .account {display: none;}
    nav .mobile_member {position: absolute; top: 18px; right: 52px; cursor: pointer; display: inline-block; background: transparent;}
    nav .mobile_member img {width: 24px; border-radius: 50%;}
    
    nav .dropdown {top: 60px;}
    }