#root > footer > div{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding: 40px 40px;

}

#root>footer{
    background-color:#27303A ;
}


#root > footer > div > h1{
    border-bottom: 1px solid #485561;
}

#root > footer > div span{
    color: #b2bbc3;
    font-weight: 300;
    font-size:14px;
    padding-left: 10px;

}