#root > footer > div{
    width: 76.6rem;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding: 3rem 3rem;

}

#root>footer{
    background-color:#27303A ;
}


#root > footer > div > h1{
    border-bottom: 0.1rem solid #485561;
}

#root > footer > div span{
    color: #b2bbc3;
    font-weight: 300;
    font-size: 0.9rem;
    padding-left: 0.7rem;

}